<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Demo Suite" verbose="1" >
  <test name="Testing TestNg Suite">
    <classes>
       <class name="com.mansard.testngman.TestAnnotations">
       		<methods>
        			<exclude name="addProductToShoppingCart" />
      		</methods> 		
       </class>
       <class name="com.mansard.testngman.SampleTest2" />
    </classes>
  </test>
  <!-- <test name="Testing TestNg Suite with package">
    <packages>
    		<package name="com.mansard.testngman"/>
    </packages>
  </test> -->
</suite>
